html {overflow-x: hidden;}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-color: rgb(224, 224, 224);
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.searchicon {
    padding-top: 0px;
    margin-right: 30px;
    padding-left: 15px;
    font-size: 15px;
    list-style-type: none;

}

.searchicon:hover {
    transition: 0.5s;
    color: rgb(95, 95, 95);
}

#searchlink{
    color: black;
    font-size: 20px;
    position: fixed;
    top: 13px;
    right: 40px;
text-decoration: none;}

#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 100px;
    overflow: hidden;
    background-color: white;
}

#navlist li {
    float: right;
}

#navlist li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-top: 15px;
}

#navlist li a:hover:not(.active) {
    color: rgb(95, 95, 95);
    transition: 0.3s;
}

.active {
    background-color: rgb(218, 218, 218);
}

#logo {
    font-size: 20px;
    font-weight: 800;
    padding-top: 12px;
}

#hamburger{
    color: black;
    font-size: 18px;
    position: fixed;
    top: 15px;
    left: 50px;
    display: none;
}

#hamburger:hover{
    color: rgb(95, 95, 95);
    transition: 0.5s;
}

/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 0px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    width: 30%;
    padding-bottom: 30%;
  } */

.square {
    float: left;
    position: relative;
    width: 33.3333%;
    padding-bottom: 33.333%;
    /* = width for a 1:1 aspect ratio */
    margin: 0%;
    overflow: hidden;
}

.content {
    position: absolute;
    height: 80%;
    /* = 100% - 2*10% padding */
    width: 90%;
    /* = 100% - 2*5% padding */
    padding: 30% 5%;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 8px;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 0px 10px 0px 10px;
}

.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
    color: #fff;
}

.img1 {
    background-image: url('images/COURSESBG.png');
}

.imgbg:hover {
    filter: opacity(80%);    
     transition: 0.5s;
}

.img2 {
    background-image: url('images/ALUMNIBG.png');
}

.img3 {
    background-image: url('images/NEWSBG.png');
}

.img4 {
    background-image: url('images/STAFFSBG.png');
}

.img5 {
    background-image: url('images/VISITBG.png');
}

.img6 {
    background-image: url('images/APPLYBG.png');
}

#footer {
    background-color: rgb(46, 46, 46);
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: white;
    line-height: 1.4;
    padding-bottom: 100px;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#footer1, #footer2, #footer3 {
    width: 33%;
    /* height: 0px; */
    padding-bottom: 0px;
}

#staffslogo {
    width: 100px;
    height: auto;
    padding-left: 100px;
}

#address {
    padding-left: 100px;
}

b {
    font-weight: 600;
}

.opendaybutton {
    padding: 10px;
    height: 50px;
    width: auto;
}

.opendaytext {
    padding: 0px;
}

.opendayinput {
    width: 50%;
    height: 30px;
    border-radius: 100px;
    padding-left: 10px;
    font-family: proxima-nova, sans-serif;
}

#bookbutton {
    background-image: linear-gradient(80deg, #dd1212, #c70c0c);
    color: white;
    border: none;
    padding: 7px 50px;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    display: block;
}

#footer1 {}

#footer2 {
    padding: 33%;
    margin-top: -700px;
}

#footer3 {}

.column {
    float: left;
    width: 33.333%;
    padding-left: 0px;
    height: 330px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftpadding {
    margin-left: 30px;
}

.lineheight {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.column3 {
    float: left;
    width: 50%;
    padding-left: 0px;
    height: 300px;
}

.row3:after {
    content: "";
    display: table;
    clear: both;
    width: 100%
}

.linkslist {
    background-color: none;
    line-height: 17px;
    float: left;
    border: none;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: -20px;
}

.linkslist li a {
    color: rgb(218, 218, 218);
    text-decoration: none;
}

.linkslist li a:hover {
    color: rgb(104, 104, 104);
    transition: 0.5s;
}

@media screen and (max-width: 1070px) {
    .square {
        width: 50%;
        padding-bottom: 50%;
    }
    #hamburger{
        display: inline;
    }
    #logo {
       position: fixed;
       top: 0px;
       left: 0px;
       right: 0px;
       line-height: 27px;
       display: inline;


    }
    #navlist {
        position: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        width: 100%;
        padding-top: 30px;

    }

    .subitem{
    }
    .subitem2{
        display: none;

    }

    /* .subitem.responsive{
        display: none;
    } */
    
    #navlist li {
        float: none;
        text-align: center;
        line-height: 0;
        padding-top: 30px;


    }
    
    #navlist li a {
        display: inline;
        float: none;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: proxima-nova, sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 3px;
        padding-top: 15px;
    }
    
}

@media screen and (max-width: 730px) {
    .square {
        width: 100%;
        padding-bottom: 100%;    }
}
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        padding-left: 50px;
        /* padding-bottom: 50px; */

    }
    #address {
        padding-left: 0px;
        margin-bottom: -50px;
    }

    .secondcolumn{
        margin-bottom: 100px
    }
}